# ---------------------------------------------------------------------
# Toolless homing shuttle probe (negative tool probe)
# ---------------------------------------------------------------------
[tool_probe T-1]
pin: PE12
tool: -1
z_offset: -1.7              # <-- your calibrated shuttle Z offset
speed: 10.0
samples: 4
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01
samples_tolerance_retries: 3


# ---------------------------------------------------------------------
# Adjust Z after homing (works for both shuttle and normal tools)
# ---------------------------------------------------------------------
[gcode_macro _ADJUST_Z_HOME_FOR_TOOL_OFFSET]
variable_shuttle_tool_number: -1
gcode:
    G90 ; absolute mode
    G0 Z10 F1000
    {% if (printer.probe.active_tool_number | int) == shuttle_tool_number %}
      # Homed with shuttle probe (T-1)
      {% set probe_z_offset = printer.tool_probe_endstop.active_tool_probe_z_offset %}
      SET_KINEMATIC_POSITION Z={10.0 + probe_z_offset|float}
    {% else %}
      # Homed with normal tool probe
      {% set tool = printer.toolchanger.tool %}
      {% if tool %}
         {% set tool_z_offset = printer[tool].gcode_z_offset %}
         {% set probe_z_offset = printer.tool_probe_endstop.active_tool_probe_z_offset %}
         SET_KINEMATIC_POSITION Z={10.0 + tool_z_offset|float + probe_z_offset|float}
      {% endif %}
    {% endif %}


