[tool T2]
tool_number: 2
extruder: extruder2
params_type: 'rods_mini_hookon'
fan: T2_partfan
gcode_x_offset: -0.4500
gcode_y_offset: 0.256250
gcode_z_offset: -0.011250

# Position with the toolhead aligned with the dock
params_type: 'sc'
# This is the path the tool change takes. Adjust only if your dock path differs.
params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
params_park_x: 142
params_park_y: 7
params_park_z: 306
params_safe_y: 100
params_close_y: 58
params_input_shaper_freq_x: 61.4
params_input_shaper_freq_y: 41.0
params_max_accel: 5000

[mcu T2]
## Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify (see Step 2)
serial: /dev/serial/by-id/REPLACE_ME_AFTER_STEP_2|/dev/serial/by-id/usb-Klipper_rp2040_4E363334320E5C07-if00|
restart_method: command

#####################################################################
#   Endstops (example if using toolhead X endstop on this PCB)
#####################################################################
## XES - Toolhead PCB
#[stepper_x]
#endstop_pin: T2:gpio13

#####################################################################
#   Filament Sensor (example)
#####################################################################
#[filament_switch_sensor filament_sensor_T2]
#switch_pin: T2:gpio3
#pause_on_runout: True

[extruder2]
step_pin: T2:gpio23
dir_pin: !T2:gpio24
enable_pin: !T2:gpio25
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.720466
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: T2:gpio9
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: T2:gpio29
pullup_resistor: 2200
control: pid
pid_Kp: 28.017
pid_Ki: 3.277
pid_Kd: 59.889
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 200
max_extrude_only_velocity: 120
pressure_advance: 0.025

[tmc2209 extruder2]
sense_resistor: 0.100
uart_pin: T2:gpio0
tx_pin: T2:gpio1
interpolate: false
run_current: 0.85
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

#####################################################################
#   Additional Sensors
#####################################################################
[temperature_sensor T2_temp]
sensor_type: temperature_mcu
sensor_mcu: T2
min_temp: 0
max_temp: 100

#####################################################################
#   Fans
#####################################################################
## PCF
[fan_generic T2_partfan]
pin: T2:gpio6

## HEF
[heater_fan T2_hotend_fan]
pin: T2:gpio5
heater_temp: 50.0
heater: extruder2
#tachometer_pin: T2:gpio16
#tachometer_ppr: 2

[neopixel T2_hotend_rgb]
pin: T2:gpio7

## PCB Activity Light
[output_pin T2_act_led]
pin: !T2:gpio8

#####################################################################
#   Accelerometer
#####################################################################
[adxl345 T2]
cs_pin: T2:gpio27
spi_software_sclk_pin: T2:gpio18
spi_software_mosi_pin: T2:gpio20
spi_software_miso_pin: T2:gpio19

[resonance_tester]
accel_chip: adxl345

[gcode_macro T2]
variable_color: ""
gcode:
  SELECT_TOOL T=2

[tool_probe T2]
pin: T2:gpio10
tool: 2
# You can find the z_offset option in the printer.cfg
z_offset : -0.55
speed: 15.0
samples: 3
sample_retract_dist: 2.0
lift_speed: 10
samples_result: median
samples_tolerance: 0.006
samples_tolerance_retries: 10

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder2.temperature %}
    {% set TARGET_TEMP = printer.extruder2.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder2 MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


#####################################################################
#  Orbiter2 Smart Sensor — Tool 2 (T2)
#####################################################################

[gcode_macro _T2_SENSOR_VARS]
# You can tweak these later
variable_filament_load_temp: 220
variable_filament_unload_temp: 185
variable_filament_load_min_temp: 190
variable_nozzle_purge_length: 80
variable_nozzle_purge_speed: 450
variable_unload_distance: 65
variable_enable_beep: True
gcode:

#####################################################################
#  Filament Sensors
#####################################################################

[filament_switch_sensor T2_filament_sensor]
switch_pin: T2:gpio3
pause_on_runout: False
runout_gcode: T2_filament_runout
insert_gcode: T2_filament_insert
event_delay: 1.0
pause_delay: 0.1

[gcode_button T2_filament_unload]
pin: T2:gpio13
press_gcode:
  T2_filament_unload_init
release_gcode:

#####################################################################
#  Supporting Macros
#####################################################################

[gcode_macro T2_filament_runout]
gcode:
  {% set s = printer['gcode_macro _T2_SENSOR_VARS'] %}
  M118 T2: Filament runout detected!
  PAUSE
  M118 T2: Heating to unload temp...
  {% if printer.extruder2.can_extrude|lower != 'true' %}
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET={s.filament_unload_temp}
    TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={s.filament_unload_temp}
  {% endif %}
  M118 T2: Ready for manual unload.

[gcode_macro T2_filament_insert]
gcode:
  {% set s = printer['gcode_macro _T2_SENSOR_VARS'] %}
  M118 T2: Filament insert detected!
  {% if printer.print_stats.state != "printing" %}
    M118 T2: Heating to {s.filament_load_temp} °C for load.
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET={s.filament_load_temp}
    TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={s.filament_load_temp}
    G92 E0
    G1 E{ s.nozzle_purge_length } F{ s.nozzle_purge_speed }
    M118 T2: Filament load complete.
  {% else %}
    M118 T2: Ignored — printer busy.
  {% endif %}

[gcode_macro T2_filament_unload_init]
gcode:
  {% set s = printer['gcode_macro _T2_SENSOR_VARS'] %}
  M118 T2: Filament unload button pressed.
  {% if printer.extruder2.can_extrude|lower != 'true' %}
    M118 T2: Heating to unload temp {s.filament_unload_temp} °C...
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET={s.filament_unload_temp}
    TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={s.filament_unload_temp}
  {% endif %}
  G91
  G1 E-{ s.unload_distance } F300
  G90
  M118 T2: Filament unloaded.
